	/*顶部*/
	#top{height:58px;position:relative;margin:0 auto;background:#fff url(../top/topbg.png) repeat-x left top;z-index:45500;}
		/*标志*/
		#toplogo{float:left;width:280px;height:58px;overflow:hidden;}
		/*顶部广告*/
		#topad{float:left;width:280px;height:58px;overflow:hidden;}
		/*快捷连接*/
		.quicklink{float:right;line-height:22px;margin:20px 17px 0px 0px;}
		.quicklink a{line-height:22px;color:#707e91;margin:0px 8px 0px 9px;padding-top:2px;padding-bottom:2px;}
		.quicklink a:hover{color:#be0503;text-decoration:none;}
		.link_gamedown{padding-left:22px;background:url(../top/icon_down.gif) no-repeat left center;}
		.link_recharge{padding-left:22px;background:url(../top/icon_m.png) no-repeat left top;}
		.link_reg{padding-left:23px;background:url(../top/icon_user.png) no-repeat left center;}
		#more{float:right;width:112px;height:52px;line-height:22px;text-align:center;position:relative;font-size:14px;color:#fff;margin-right:2px;padding-top:6px;background-color:#d53d3c;display:block;}
		#more.hovermore{background-color:#ee3f5d;}
		#more:hover{text-decoration:none;}
		#more .icon_list{width:23px;height:17px;margin:0px auto 3px auto;background:url(../top/iconlist.gif) no-repeat left top;display:block;}
	/*游戏列表*/
	#GameList{height:0px;position:absolute;overflow:hidden;top:58px;right:0px;left:0px;background-color:#ffffff;box-shadow:0 7px 14px rgba(0,0,0,0.2);display:none;z-index:1500;}
	#GameList .center{width:1120px;margin:0 auto;padding-top:27px;}
	#GameList ul{float:left;*padding-bottom:12px;}
	#GameList ul li{float:left;width:170px;height:241px;position:relative;margin-bottom:12px;margin-left:15px;background:#cf1232 url(../top/1.png) no-repeat left bottom;}
	#GameList ul li strong{line-height:1.43;text-align:center;overflow:hidden;font-size:14px;font-weight:normal;color:#fff;max-height:2.86em;padding-right:10px;padding-left:10px;display:block;}
	#GameList ul li .photo{width:170px;height:185px;margin-bottom:6px;background:#333;display:block;}
	#GameList .myHistory{line-height:30px;color:#d52846;margin-right:11px;margin-bottom:6px;margin-left:11px;padding-left:5px;}
	#GameList .myHistory a{margin-right:11px;display:inline-block;}
	#GameList .myHistory a:hover{color:#d52846;}
	#GameList .morelink{text-align:center;}
	#GameList .morelink a{width:117px;height:30px;line-height:30px;text-align:center;margin-right:22px;margin-left:22px;box-shadow:0 0 3px rgba(0,0,0,0.2);border:1px solid #ccc;border-radius:5px;display:inline-block;}
	#GameList .morelink a:hover{color:#cf1232;text-decoration:none;border-color:#cf1232;}
	#GameList .morelink .icon_reg,#GameList .morelink .icon_cz,#GameList .morelink .icon_kefu{width:13px;height:13px;margin-right:4px;vertical-align:middle;display:inline-block;}
	#GameList .morelink .icon_reg{background:url(../top/icon_user.gif) no-repeat left top;}
	#GameList .morelink .icon_cz{background:url(../top/icon_payment.gif) no-repeat left top;}
	#GameList .morelink .icon_kefu{background:url(../top/icon_tel.gif) no-repeat left top;}